h1, h2, h3, h4, h5, h6 {
    font-family: 'Hitmarker Text';
    color: white;
}

p {
    font-family: 'Hitmarker Text';
    color: white; 
    margin-left: 5%;
}



body {
    background: url("https://i.pinimg.com/736x/53/f7/a8/53f7a8d472a3bc11f946be09116a695b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}


ul {
list-style-type: none;
margin-left: auto;
padding: 0;
vertical-align: middle;
background-color: #333333; 
}

li {
   list-style: none;
   display: inline-block;
  }

.navButton {
    padding:0%;
    height: 10%;

}

.imgButton {
    width: 85%;
}


.navBar {
    height:100px;
    display: inline;
    background-color: transparent;
    
}

.navImg {
    height: 10%;
}

.navBackButton {
    padding-left: 0%;
}
.navLogo {
    padding-left: 1%;
    padding-right: 8%;
}

.navButtonStore {
    padding-right: 10%;
}

.navHQ {
    align-items: end;

}


.listNav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width:100%;
    height: 50px;
    

   
    background-color: transparent !important; 
    background-size: cover;
    z-index: 10;
}

.partyTextAlign {
    display: inline;
}
.rightAlign {
    float:right;
   padding-right:5%;
}

h1.partyTab {
    margin-left: 5%;
    font-size: 20px;
    display: inline;
    align-items: left;
    justify-content: left;
}

h1.partySize {
    font-size: 20px;
    display: inline;
    align-items: right;
    justify-content: right;
}

.partyGrid {
    padding: 5px;
    margin-left: 70%;
    margin-top: 5%;
    grid-template-columns: 100%;
    grid-template-rows: 20% 60%;
    grid-template-areas: "partyTab"
    "partyMembers";
   
    background-image: linear-gradient(to right, rgba(29, 29, 29, 0.2),rgba(29, 29, 29, 0.6),  rgba(11, 11, 11, 0.9), rgba(0, 0, 0, 1.2));
    
}
.partyMembers {
    padding: 5px;
    padding-bottom: 5px;
    margin-left: 70%;
    margin-top:5px;
    background-image: linear-gradient(to right, rgba(29, 29, 29, 0.2),rgba(29, 29, 29, 0.6),  rgba(11, 11, 11, 0.9), rgba(0, 0, 0, 1.2));
}



 .challengesButton {
    max-width: 5%;
 }

 .bonusXpButton {
    max-width: 5%; 
 }

 .challengesView {
    max-width: 50%;
 }

 .bonusXpView {
    max-width: 50%; 
 }


 

/*normal states */
 .quickplayButton {
    margin-top: -5%;
   max-width: 50%;
}

.hardcoreQuickplayButton {
    max-width: 50%;
 }

 .playlistButton {
    max-width: 50%;
 }




.qpOption:hover  li.display-on-hover {
    cursor: pointer;
    transition:  1s ease-in-out;
    display: block;
}

.qpOption:hover {
    cursor: pointer;
    transition:  0.5s ease-in-out;
    height: 100px;
}

.qpOption {
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8),rgba(11, 11, 11, 0.7), rgba(34, 52, 60, 0.2), rgba(127, 192, 223, 0.1));
    min-width: 30%;
    height: 40px;
    float: left;
}

li.display-on-hover{
    padding-top: 3%;
    padding-left: 18%;
    display: none;
}

.checkboxGroup {
    display: none;
}


.alignItems {
  float:left;
}

li.listYay {
    margin: 0px;
    list-style: none;
    float:left;
}

h2.qp {
    text-align: left;
    display: inline;
}

.playButtonIcon {
    max-width:60%;
}




 @media screen and (max-width: 1505px) {
    .navHQ {
        display: none;
    }
 }

 
 @media screen and (max-width: 1200px) {
    .navButtonStore {
        display: none;
    }
 }

  
 @media screen and (max-width: 1000px) {
    .navEvent {
        display: none;
    }
 }

 @media screen and (max-width: 900px) {
    .navBattlepass {
        display: none;
    }
 }

 @media screen and (max-width: 800px) {
    .navCustomize {
        display: none;
    }
 }

 @media screen and (max-width: 700px) {
    .navPlay{
        display: none;
    }
 }